body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.comment-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.comment-box {
    margin-top: 20px;
}

.input-text {
    display: flex;
    gap: 10px;
}

.post, .show,#show {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.all-comments-container {
    margin-top: 20px;
    display: none;
}

.card {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.comment-details {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.input, .reply-submit {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
}

.reply {
    color: blue;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}

.input, .reply-submit {
    margin-right: 10px;
}

.all-comments-container {
    margin-top: 20px;
    display: none ;
    display: flex;
    flex-direction: column;
}
.all-comments{
    display: flex;
    flex-direction: column;
}

.reply-submit{
    cursor: pointer;
}

.btn{
    cursor: pointer;
}

.reply-count{
    font-size: 10px;
    color: #ccc;
    font-weight: bold;
}