.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.star__container {
    display: flex;
}

.stars{
    padding: .5rem;
    font-size: 2.5rem;
    color: grey;
    cursor: pointer;
}

.total__rating{
    font-weight: bold;
}

.star-filled{
    color: orange;
}

.stars-hover{
    transform:scale(2);
}